<div class="pokemon-card-container">
  <div class="pokemon-card-image">
    {{#if parameter}}
      <img src="{{'forsales.post.pokemon_image'}}" alt="{{name}}" class="pokemon-card-img">
    {{else}}
      <img src="{{'fortrades.post.pokemon_image'}}" alt="{{name}}" class="pokemon-card-img">
    {{/if}}
    
  </div>
  <div class="pokemon-card-details">
    <h3>{{name}}</h3>
    <p>Type: {{type}}</p>
    <p>HP: {{hp}}</p>
    <p>Condition: {{condition}}</p>
    <p>Price: ${{price}}</p>
    {{#if parameter}}
      <button class="buy-button">Buy</button>
    {{else}}
      <button class="trade-button">Trade</button>
    {{/if}}
    <button class="add-to-collection-button">Add to Collection</button>
  </div>
</div>