{{> header}}

<section class="card-collection">
  <h2>Pokémon Card Collection</h2>
  <div class="grid-container">
    {{#each posts}}
    <div class="card">
      <img src="{{this.image}}" alt="{{this.name}}">
      <h3>{{this.name}}</h3>
      <p>Type: {{this.type}}</p>
      <p>HP: {{this.hp}}</p>
    </div>
    {{/each}}
  </div>
</section>

{{> footer}}
